{% extends 'template.html.twig' %}
{% block pageTitle %}
    Hellooooo
{% endblock %}
{% block body %}
<h1>Hello</h1>
<h2>{{ nom | capitalize }}</h2>
<br>
<hr>
<h2>Today is {{ "now" | date('d/m/Y')}}</h2>
<div>
    <img src="{{ asset('assets/images/') ~ path | defaultImage }}" alt="">
</div>
{% endblock %}